h2 button {
    outline: 1.5px solid #222;
}


.map-container {
    min-height: 300px;
}

#map {
    width: 100%;
    height: 100%;
}

.weather-container {
    display: flex;
    flex-direction: column;
    height: min-content;
    text-align: center;
    background-color: var(--clr-a3);
    border-radius: .2em;
    border: 2px solid #222;
}

@media (min-width: 782px) {
  
    .map-container {
        height: 100%;
    }
}